
@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1>
<h4>
    Your Purchase have been confirmed and your order is currently being prepared.
    A Recipt have been sent to your mail.
</h4>

<div class="d-grid gap-2 d-md-block" align="center">
        <input type="button" value="                    Return to Homepage                  "
            class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "HomePage")'" />
</div>


