@*@model MVCSuperMarket.DTOs.OrderDTO*@

@{
    ViewData["Title"] = "Payment";
}

<h1>Payment</h1>
@if(TempData["ErrorMessage"] != null){
    <div class="p-3 mb-2 bg-danger text-white">@TempData["ErrorMessage"]</div>
}
@*<div class="p-3 mb-2 bg-danger text-white">@TempData["ErrorMessage"]</div>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Payment">
            <div>
                <label>Card Number</label>
                <input name="CardNo" class="form-control" />
            </div>
            <div>
                <label>Expiration Date</label>
                <input name="ExpirationDate" class="form-control" />
            </div>
            <div>
                <label>CVC</label>
                <input name="Cvc" class=" form-control" />
            </div>
            <p align="right">
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-primary" />
            </div>
            </p>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to Check Out", "CheckOut")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
